
<% if @quotes.empty? %>
    <p>Oh no! No quotes entered yet. <br>
    (But you could - and should - change that!)</p>
    <%=button_to "Add a Quote", 'quotes/new', method: 'get' %>
<% else %> 
<div class="leftlist">
<ul>
    <%= @quotes.each do |quote| %>
        <li><span class="quotetext"><%=quote.quote%>."</span><br>
        <% if !!quote.book_id %>
            &emsp;&emsp;&emsp;-- <span class="cite"><%= Book.find(quote.book_id).title%></span>

        <% elsif !!quote.movie_id %>
            &emsp;&emsp;&emsp;-- <span class="cite"><%= Movie.find(quote.movie_id).title %></span>
        <% end %>
        </li>
        <br>
    <% end %>
    </ul>
<% end %>
</div>