<div class="spacer"><h1>Enter a New Favorite Quote!</h1></div>

<%= form_for @quote, url: "/quotes/newbook" do |f| %>
    <fieldset>
    <legend><font size='4'>The Honored Tome</font></legend>
    <div class="facts"><label><font size='3'>What book is this quote from?</font></label><br>
    <%=f.collection_radio_buttons :book_id, Book.all, :id, :title %>
    </div>
    </fieldset>
    
    <fieldset>
    <legend><font size='4'>Need to Add a New Book?</font></legend>
    <div class="facts"><%=f.fields_for :book do |ff| %>
        <p><font size='3'><b><%=ff.label :title %></b>
        <%=ff.text_field :title %></p>

        <p><font size='3'><b><%=ff.label :author %></b></font>
        <%=ff.text_field :author %></p>

        <p><font size='3'><b><%=ff.label :synopsis %></b></font>
        <%=ff.text_area :synopsis %></p>
        <% end %>
        </div>
    </fieldset><br>

    <fieldset>
    <legend><font size='4'>The Beloved Quotation</font></legend>
    <div class="facts"><label><font size='4'>What is this passage you want to immortalize?</font></label>
    <p><%=f.text_area :quote %></p>

    <label><font size='4'>Any other Notes to Add?</font></label>
    <p><%=f.text_area :notes %></p>

    <label><font size='4'>Any Tags?</font></label>
    <%=f.fields_for :quote_tags do |ff| %>
        <p><%=ff.collection_check_boxes :tag_ids, Tag.all, :id, :name %></p>
        <%= ff.hidden_field :user_id => current_user.id %>
        <% end %>
    </fieldset><br>
    
    &emsp;&emsp;<%= f.submit "Create!" %>
</div>
<% end %>

