<div class="spacer"><h1>Enter a New Favorite Quote!</h1></div>

<%= form_for @quote, url: "/quotes/newmovie" do |f| %>
    <fieldset>
    <legend><font size='4'>The Cinematic Glory</font></legend>
    <div class="facts"><label>What movie is this quote from?</label>
    <p><%=f.collection_radio_buttons :movie_id, Movie.all, :id, :title%>
    </div>
    </fieldset>
    <br>
    <fieldset>
    <legend><font size='4'>Need to Add a New Movie?</font></legend>
    <div class="facts"><%=f.fields_for :movie do |ff| %>
        <p><font size='3'><b><%=ff.label :title %></b>
        <%=ff.text_field :title %></p>

        <p><font size='3'><b><%=ff.label :director %></b></font>
        <%=ff.text_field :director %></p>

        <p><font size='3'><b><%=ff.label :cast_members %></b></font>
        <%=ff.text_area :cast_members %></p>
        <% end %>
        </div>
    </fieldset><br>

    <fieldset>
    <legend><font size='4'>The Beloved Quotation</font></legend>
    <div class="facts"><label>What is the line from this movie that has won your heart?</label>
    <p><%=f.text_area :quote %></p>

    <label>Any other Notes to Add?</label>
    <p><%=f.text_area :notes %></p>

    <label><font size='4'>Any Tags?</font></label>
    <%=f.fields_for :quote_tags do |ff| %>
        <p><%=ff.collection_check_boxes :tag_id, Tag.all, :id, :name %></p>
    <%= f.hidden_field :user_id, value=current_user.id %>
        <% end %>
    </fieldset><br>
    &emsp;&emsp;<%= f.submit "Create!" %>

<% end %>

