<h1>Enter a New Favorite Quote!</h1>

<%= form_for @quote do |f| %>
    <label>What movie is this quote from?</label>
    <%=f.collection_radio_buttons :movie_id, Movie.all, :id, :title %>
    
    <fieldset>
    <legend><font size='4'>Need to Add a New Movie?</font></legend>
    <%=f.fields_for :movie do |ff| %>
        <p><font size='3'><b><%=ff.label :title %></b>
        <%=ff.text_field :title %></p>

        <p><font size='3'><b><%=ff.label :director %></b></font>
        <%=ff.text_field :director %></p>

        <p><font size='3'><b><%=ff.label :cast_members %></b></font>
        <%=ff.text_area :cast_members %></p>
        <%i +=1%>
        <% end %>
    </fieldset><br>

    <fieldset>
    <label><font size='4'>What is the beloved quote?</font></label>
    <p><%=f.text_area :quote %></p>

    <label><font size='4'>Any other Notes to Add?</font></label>
    <p><%=f.text_area :notes %></p>

    <label>Any Tags?</label>
    <p><%=f.collection_check_boxes :tag_ids, Tag.all, :id, :name %></p>

    <%=f.hidden_field :user_id, value = session[:user_id] %>

    &emsp;&emsp;<%= f.submit "Create!" %>

<% end %>

