<div class="spacer"><h1>Your Favorite Quotes</h1></div>
<br>
<% if current_user.quotes.empty? %>
    <p>You have no favorite quotes yet. :o( <br>
    (But you could - and should - change that!)</p>
    <%=button_to "Add a Quote!", quotes_new_path, :method=>'get' %>
<% else %>
    <% current_user.quotes.each do |quote| %>
        <li><span class="quotetext">" <%=quote.quote%>."</span><br>
        <% if !!quote.book_id %>
        &emsp;&emsp;&emsp;-- <span class="cite"><%= Book.find(quote.book_id).title%></span>
        <% elsif !!quote.movie_id %>
        &emsp;&emsp;&emsp;-- <span class="cite"><%= Movie.find(quote.movie_id).title %></span>
        <% end %>
        </li>
        <br>
    <% end %>
    <br>
    <fieldset>
<%=button_to "Add a Quote!", quotes_new_path, :method=>'get' %>
</fieldset>
<%end%>
