<h1>Login Page</h1>

<%=flash[:notice]%>

<%= form_for @user, controller: 'sessions', action: 'create' do |f|%>
    <p><%=f.label :user_name %>
    <%=f.text_field :user_name %></p>

    <p><%=f.label :password %>
    <%=f.password_field :password %></p>

    <%= f.submit "Log In"%>
<% end %>
