
<%= form_for @movie do |f| %>
    <p><%=f.label :title %>
    <%=f.text_field :title %></p>

    <p><%=f.label :director %>
    <%=f.text_field :director %></p><br>

    <p><%=f.label :synopsis %>
    <%=f.text_area :synopsis%></p><br>

    <p><%=f.label :cast_members %>
    <%=f.text_field :cast_members %><br></p><br>

 
    
    <%=f.submit "Submit!" %>
</div>
<br>
<% end %>