<h1>Sign up</h1>
<% if flash[:notice] %>
<h4>Womp womp...</h4>
<% flash[:notice].each {|msg| %>
  <div class='warning'><%= msg %></div>
<% } %>
<br>
<% end %>

<%= form_for @user, controller: 'users', action: 'create' do |f| %>

    <p>First Name: <%= f.text_field :first_name %></p>
    <p>Last Name: <%= f.text_field :last_name %></p>
    <p>Email Address: <%= f.text_field :email %></p>
    <br>

    <p>Username: <%= f.text_field :user_name %></p>
    <p>Password: <%= f.password_field :password %>
    &ensp;Password Confirmation: <%= f.password_field :password_confirmation %></p>
    <br>

    <h3>It may be impossible but... </h3>
    <h5>What is your favorite book? <h5>
    <p><%= f.text_field :fave_book %></p>
    <h5>Can you do it? Can you pick one? How about your favorite movie?</h4>
      <p><%= f.text_field :fave_movie %></p>


    <%= f.submit "Submit" %>
   <% end %>
   
