<div class="spacer"><h1>Your Favorite Quotes</h1></div>

<% if !@quotes %>
    <p>You have no favorite quotes yet. :o( </p><br>
    (But you could - and should - change that!)
    <br>
    <%=button_to "Add a Quote!", quotes_new_path, :method=>'get' %>
<% else %>
    <ol>
    <%= @quotes.each do |quote| %>
        <li><%=quote.quote%>
        <% if quote.book? %>
            source = Book.find(quote.book_id)
        <% else %>
            source = Movie.find(quote.movie_id)
        <% end %>
        <br>
        From <span class='title'><%=source.title%></span>
        <% if quote.author %>
            ~<%=quote.author%>
        <%end%></li>
    <% end %>
<% end %>