<%= form_for @book do |f| %>
    <p><%=f.label :title %>
    <%=f.text_field :title %></p>
    <p><%=f.label :author %>
    <%=f.text_field :author %></p><br>
    <p><%=f.label :synopsis %>
    <%=f.text_area :synopsis%></p><br>

    <fieldset>
    <legend><font size='4'>Have a Favorite Quote to Add?</font></legend>
    <% if !!current_user %>
        <div class="facts"><%=f.fields_for :quote do |ff| %>
            <p><font size='3'><b><%=ff.label :quote %></b>
            <%=ff.text_area :quote %></p>

            <p><font size='3'><b><%=ff.label :notes %></b></font>
            <%=ff.text_area :notes %></p>
            <%= ff.hidden_field :user_id => current_user.id %>
            <% end %>
            </div>
    <% else %>
        <%=link_to "Log in", '/login'%> to start adding and saving quotes!%>
    <% end %>
    </fieldset><br>


    <%f.submit "Create!" %>

<br>
<%end%>