<h1>All About <%=@book.title%></h1>

<div>
Title: <%=@book.title%>
Author: <%=@book.author%>
&emsp;Synopsis: <%=@book.author%>
</div>
<br>

    Your favorite line: 

    <% if !@user.books || !@user.books.include?(@book) %>
        None yet entered. <br>
        <%= button_to "Let's fix that!", quotes_new_path, {method: 'get'} %>
    <% elsif @user.books.include?(@book) %>
        <% favorite_line = Quote.find_by(user_id: @user, book_id: @book.id) %>
        <%= favorite_line %>
        <%= button_to "Change/Edit/Update", 'quotes/edit/#{@book.id}' %>
    <br>
    <% end %>


<% lines = Quote.where(book_id: @book.id) %>
<% if !lines.empty? %>
    <% sample = lines.take(5) %>
    Some other folks' favorites:
<ul>
    <% sample.each do |quote| %>
    <%= quote.quote %>
    <% end %>
    </ul>
<%end%>


