<!DOCTYPE html>
<html>
  <head>
    <title>TagLines</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      .warning {
        color: red;
        font-weight: bold;
        border: 1px, solid, red;
        padding: 3px;
      }

      .facts {
        padding: 10px;
      }

      .spacer {
        padding: 10px;
      }

      .leftlist {
        margin-left: 40px;
      }

      .quotetext {
        ;
        line-height: 1.6;
      }

      .cite {
        font-style: oblique;
      }

      </style>
  </head>

  <header class='clearfix'>
  <div class="container-fluid">
    <div class="tm-site-header tm-mb-1">
        <div class="tm-site-name-container tm-bg-color-1">
          <div class="tm-site-name-text tm-text-white">
            <h1 class="tm-text-white">TagLine<br> </h1>
              <h3 class='tm-under'><br>Keeping track of your favorite sentences, passages, and quotes.</h3>
            </div>
        </div>
      </div>
    <div class="tm-nav-container tm-bg-color-8">
        <nav class="tm-nav" id="tm-nav">
          <ul>
            <li class="tm-nav-item current">
            <a href="/quotes" class="tm-nav-link current">
            <span class="tm-mb-a"></span>
            <span>Quotes</span>
            </a>
            </li>
            <li class="tm-nav-item current">
                <a href="/movies" class="tm-nav-link current">
                <span class="tm-mb-a"></span>
                <span>  Movies</span>
                </a>
            </li>
            <li class="tm-nav-item current">
              <a href= <%="http://localhost:3000/users/#{current_user.id}" %> class="tm-nav-link current">
              <span class="tm-mb-a"></span>
              <span>My Profile</span>  
              </a>
            </li>
            <li class="tm-nav-item current">
            <a href="/" class="tm-nav-link current">
            <span class="tm-mb-a"></span>
            <span>Home</span>
            </a>
        </li>
            <li class="tm-nav-item current">
            <a href="/logoutcheck" class='tm-nav-link current'>
              <span class="tm-mb-a"></span>
              <span>Logout</span>
              </a>
          </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<body>
 <div id="page-container">
   <div id="content-wrap">

<%= yield %>


  </div>

<footer>
<div class="footer">
  <div class="flex-container">
    <div class='img-container' style="flex-basis: 54%">
      <div style="flex-basis: 60%, padding-top:10px"><img src="https://blog.patrickrothfuss.com/wp-content/uploads/2017/11/BookWallPanorama-e1510155573613.jpg"  alt="scroll" height='60'></div>
      <div style="flex-basis: 22%; height: 75px, padding-top:30px">A room without books is like a body without a soul.</div>
      </div>
    <div style="flex-basis: 19%">Doubtfully copyrighted</div>
    <div style="flex-basis: 19%">Books are better than movies</div>
  </div>
</div>
</footer>
</div>
</body>