<!DOCTYPE html>
<html>
  <head>
    <title>TagLines</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      .warning {
        color: red;
        font-weight: bold;
        border: 1px, solid, red;
        padding: 3px;
      }

      </style>
  </head>

  <header class='clearfix'>
  <div class="container-fluid">
    <div class="tm-site-header tm-mb-1">
        <div class="tm-site-name-container tm-bg-color-1">
          <div class="tm-site-name-text tm-text-white">
            <h1 class="tm-text-white">TagLine<br> </h1>
              <h3 class='tm-under'><br>Keeping track of your favorite sentences, passages, and quotes.</h3>
            </div>
        </div>
      </div>
    <div class="tm-nav-container tm-bg-color-8">
        <nav class="tm-nav" id="tm-nav">
          <ul>
            <li class="tm-nav-item current">
                <a href=user_quotes_path class="tm-nav-link current">
                <span class="tm-mb-a"></span>
                <span>My Quotes</span>
                </a>
            </li>
            
            <li class="tm-nav-item current">
                <a href=user_path(@user) class="tm-nav-link current">
                <span class="tm-mb-a"></span>
                <span>My Profile</span>
                </a>
            </li>
            <li class="tm-nav-item current">
                <a href="/logout" class="tm-nav-link current">
                <span class="tm-mb-a"></span>
                <span>Logout</span>
                </a>
            </li>
            <li class="tm-nav-item current">
                <a href="/" class="tm-nav-link current">
                <span class="tm-mb-a"></span>
                <span>Home</span>
                </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<%= yield %>
