<!DOCTYPE html>
<html>
  <head>
    <title>TagLines</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      .warning {
        color: red;
        font-weight: bold;
        border: 1px, solid, red;
        padding: 3px;
      }

      </style>
  </head>

  <header class='clearfix'>
  <div class="container-fluid">
    <div class="tm-site-header tm-mb-1">
        <div class="tm-site-name-container tm-bg-color-1">
          <div class="tm-site-name-text tm-text-white">
            <h1 class="tm-text-white">TagLine<br> </h1>
              <h3 class='tm-under'><br>Keeping track of your favorite sentences, passages, and quotes.</h3>
            </div>
        </div>
      </div>
    <div class="tm-nav-container tm-bg-color-8">
        <nav class="tm-nav" id="tm-nav">
          <ul>
            <li class="tm-nav-item current">
                <a href="quotes" class="tm-nav-link current">
                <span class="tm-mb-a"></span>
                <span>Quotes</span>
                </a>
            </li>
            
            <li class="tm-nav-item current">
                <a href="books" class="tm-nav-link current">
                <span class="tm-mb-a"></span>
                <span>Books</span>
                </a>
            </li>
            <li class="tm-nav-item current">
                <a href="movies" class="tm-nav-link current">
                <span class="tm-mb-a"></span>
                <span>  Movies</span>
                </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>


  <body>
    <section class="tm-mb-1" id="about">
      <div class="tm-row tm-about-row">
        <div class="tm-section-1-l">
          <img src="https://storage.needpix.com/rsynced_images/books-2085587_1280.jpg" alt="Books!" class="tm-img-responsive">
            <article class="tm-section-1-r tm-bg-color-8"> 
              <h2 class="tm-mb-2 tm-title-color">Saving Sentences, Listing Lines</h2>
                <div class='content'>
                    <%= yield %>
                </div>
                <br>
              <p>Words, words, words...</p>
            </article>
        </div>
      </div>
    </section>
  </body>
</html>
